@font-face {
    font-family: 'Optima'; 
    src: url(../fonts/Optima/Optima_Medium.ttf)
    format("truetype"); 
    font-weight: normal;
    font-style: normal;
   }

@font-face {
    font-family: 'Quicksand'; 
    src:url('../fonts/quicksand/quicksand_light-webfont.woff') format("woff"),
        url('../fonts/quicksand/quicksand_light-webfont.woff2') format("woff2"),
        url('../fonts/Quicksand/Quicksand_Light.otf') format("otf");
    font-weight: lighter;
    font-style: normal;
   }

html {
    height: 100%;
    width: 100%;
    font: 'Optima';
    background-attachment: fixed !important;
    background-image: url(../img/photo_2022-09-10_02-50-31.jpg);
    background: 
        linear-gradient(217deg, rgba(164, 6, 255, 0.74), rgba(10, 4, 8, 0) 70.71%),
        linear-gradient(127deg, rgba(247, 42, 76, 0.336), rgba(109, 106, 255, 0) 70.71%),
        linear-gradient(336deg, rgba(154, 81, 238, 0.8), rgba(221, 94, 221, 0.678) 70.71%),
        radial-gradient(circle at 50% 0,
            rgba(255,0,0,.5),
            rgba(255,0,0,0) 70.71%);
}

form {
    border-radius: 10px;
    color: rgb(5, 3, 10);
    background: 
        linear-gradient(185deg, rgba(10, 4, 8, 0) 70.71%, rgba(164, 6, 255, 0.74)),
        linear-gradient(189deg, rgba(10, 4, 8, 0) 70.71%, rgba(164, 6, 255, 0.74)),
        rgba(255, 1, 65, 0.103);
    /* backdrop-filter: blur(5px); */
}

h1 {
    font-family: Quicksand ; 
    font-weight: lighter;
    font-size: 495%;
    text-align: center;
    font-style: normal;
    }

.line_menu > * {
    display: inline;
}

.dropbtn {
    background-color: #e610db1a;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    text-decoration: none;
    backdrop-filter: blur(50px) !important;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(155, 121, 240, 0);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    backdrop-filter: blur(5px) !important;
  }
  
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
    /* background-color: rgba(233, 81, 81, 0.473);  */
    transform: scale(1.09);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.glass {
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
}

.top {
    backdrop-filter: blur(7px) !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.hat {
    /* padding-bottom: 100px; */
}

.dropdown:hover .dropbtn {
    background-color: #573f6354; 
    backdrop-filter: blur(50px);
}
